<a href="https://colab.research.google.com/github/21PA1A6123/DWM-lab/blob/main/DWM_LAB_7_3_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
pf=pd.read_csv("/content/students_placement_data.csv")
pf

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.30,40.00,18,NO,Not placed
1,2,F,A,89.0,92.40,71.45,0,yes,Placed
2,3,F,A,67.0,68.00,45.26,13,yes,Not placed
3,4,M,A,71.0,70.40,36.47,17,yes,Not placed
4,5,M,A,NaN,65.50,42.52,17,yes,Not placed
...,...,...,...,...,...,...,...,...,...
112,113,M,B,81.1,78.60,35.84,16,NO,Not placed
113,114,M,B,81.3,85.12,68.50,0,NO,Not placed
114,115,M,B,83.5,89.90,76.30,0,NO,Not placed
115,116,M,B,85.5,90.63,74.50,0,NO,Not placed
116,117,M,B,80.0,83.33,65.53,0,NO,Not placed

In [ ]:
plt.scatter(pf["SSC Percentage"],)
plt.show()

KeyError: ignored

In [ ]:
pf.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [ ]:
p=pf["SSC Percentage"].mean()
p

80.47456896551722

In [ ]:
np.mean(p)

80.47456896551722